@use "./variables.scss" as *;

/* =============================================================Game Master Vault Git============================================================= */
     
  /* ===============================================================================================================================================
     								   GLOBALE KOMPONENTEN 
     =============================================================================================================================================== */

  /* ----------------------------------------Generische Variablen---------------------------------------- */

  body {
	/* Lesebreite anpassen */
	--file-line-width: 1200px; 
  }

  body a.internal-link {
	background-color: transparent;
	color: var(--highlight-primary);
  }

  /* ----------------------------------------Farb-Variablen für Light Mode---------------------------------------- */

   .theme-light {
	--highlight-bold: #000000;
	--highlight-charakter: #500073;
	--highlight-hell: #0a3b00;
	--highlight-kuehl: #00E6DB;
	--highlight-neutral: #292929;
	--highlight-p: #000000; 
	--highlight-primary: #AD4118;
	--highlight-red: #ff0000; 
	--highlight-statblock: #872212; 
	--highlight-table: #070070;
	--highlight-table-header: #FFFFFF;
	--highlight-wikibox: #737373; 
	--custom-background-charakter: #F4D6FF;
	--custom-background-doc: #FBEFD5;
	--custom-background-doc2: #FFEABA;
	--custom-background-hell: #D6E9CA;
	--custom-background-kuehl: #77e4ff48;
	--custom-background-neutral: #EDEDED;
	--custom-background-neutral2: #FAFAFA;
	--custom-background-primary: #a4a1ff2a;
	--custom-background-red: #3600003a;
	--custom-background-signal: #F6D2A1;
	--custom-background-statblock: #F4FAF0;
	--custom-background-table: #cccccc3d;
	--custom-background-table-header: #474646;
  }

  /* ----------------------------------------Farb-Variablen für Dark Mode---------------------------------------- */

  .theme-dark {
	--highlight-bold: #000000;
	--highlight-charakter: #500073;
	--highlight-hell: #0a3b00;
	--highlight-kuehl: #00E6DB;
	--highlight-neutral: #292929;
	--highlight-p: #000000; 
	--highlight-primary: #AD4118;
	--highlight-red: #ff0000; 
	--highlight-statblock: #872212; 
	--highlight-table: #070070;
	--highlight-table-header: #FFFFFF;
	--highlight-wikibox: #737373; 
	--custom-background-charakter: #F4D6FF;
	--custom-background-doc: #FBEFD5;
	--custom-background-doc2: #FFEABA;
	--custom-background-hell: #D6E9CA;
	--custom-background-kuehl: #77e4ff48;
	--custom-background-neutral: #EDEDED;
	--custom-background-neutral2: #FAFAFA;
	--custom-background-primary: #a4a1ff2a;
	--custom-background-red: #3600003a;
	--custom-background-signal: #F6D2A1;
	--custom-background-statblock: #F4FAF0;
	--custom-background-table: #cccccc3d;
	--custom-background-table-header: #474646;
  }

  /* -----Blocksatz Reading Mode----- */

  .markdown-preview-view p {
	text-align: justify;
	text-justify: inter-word;	
  }

  /* -----Hintergrundfarbe Textblock----- */

  .markdown-preview-view {
	z-index: 0;
  }  

  .markdown-preview-view::after {
	content: "";
	position: fixed;
	background-color: var(--custom-background-doc);
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(0px) brightness(100%) saturate(100%);
	left: 0;
	top: 0px;
	right: 0;
	bottom: 0;
	z-index: -1;
  }

  /* -----Fetter/Bold Text Farbe----- */

  .markdown-preview-view strong,
  .markdown-preview-view b {
	color: var(--highlight-bold);
  }

  /* -----Überschriften/Header----- */
  /* Farbe der Überschriften/Header */

  .site-body-left-column-site-name,
  .page-header,
  .markdown-preview-view h1,
  .markdown-preview-view h2,
  .markdown-preview-view h3,
  .markdown-preview-view h4,
  .markdown-preview-view h5,
  .markdown-preview-view h6 {
	color: var(--highlight-primary);
  }

  /* Textgrößen, Unterstreichungen und Abstände der Überschriften */

  h1 {
	text-align: center;
	padding-bottom: 15px !important;
	border-bottom: 2px solid var(--highlight-primary) !important;
  }


  h2,
  h4,
  h5,
  h6 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
  }

  h3 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 2px solid var(--highlight-primary) !important;
  }

  /* Abstand zwischen Überschriften und Text bestimmen */

  .markdown-rendered p {
	margin-block-start: 0px;
  }

  /* -----Tabellen----- */

  table {
	margin-top: 10px !important;
	width: 100%;
  }

 /* Vertikale Grenzen aus Tabellen entfernen */

  table td, 
  table th {
	border-left: none !important;
	border-right: none !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
  }

  /* Alterierende Farben in Tabellenzeilen*/

  tbody tr:nth-child(even) {
	background-color: var(--custom-background-table) !important;
	color: var(--highlight-table) !important;
  }

  /* Tabellenkopfzeile Hintergrund und Text Farbe*/

  table th {
	background-color: var(--custom-background-table-header) !important;
	color: var(--highlight-table-header) !important;
  }







  /* ===============================================================================================================================================
     								   HTML KLASSEN 
     =============================================================================================================================================== */

  /* -----Statblock und Beschreibung Klassen----- */

  .description, 
  .statblock {
	border: 4px solid var(--highlight-statblock) !important;
	border-radius: 15px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: var(--custom-background-statblock) !important;
  }
   
  .description strong,
  .statblock strong {
	color: var(--highlight-statblock) !important;
  }
      
  .statblock {
	background-color: var(--custom-background-statblock) !important;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 0px;
	padding-bottom: 15px;
	font-size: 0.8em;
	columns: 2;
	padding: 15px;
	margin-left: 0;
	margin-right: 0;
  }
  
  .statblock hr {
	margin-top: 0.5em !important;      /* Remove space above */
	margin-bottom: 0.55em !important; /* Add space below */
	background-color: var(--highlight-statblock)   !important;
	border: none;
	height: 3px;
	border-radius: 5px;
  }
  
  .statblock h1, 
  .statblock h2, 
  .statblock h3 {
	color: var(--highlight-statblock) !important;
  }
  
  .statblock h2 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size: 2em;
	border-bottom: 0 !important;
  }

  .statblock h3 {
	border-bottom: 2px solid var(--highlight-statblock) !important;
	margin-top: 7px !important;
	font-size: 1.5em;
  }
  
  .statblock p {
	margin-bottom: 5px !important;
	margin-top: 0;
	color: var(--highlight-p) !important;
  }
  
  .statblock b {
	color: var(--highlight-primary) !important;
  }

  .statblock .ability-table {
	max-width: 100% !important;
	table-layout: fixed !important;
	width: 100% !important;
	background-color: transparent !important;
  }
  
  .statblock .ability-table th,
  .statblock .ability-table td {
	text-align: center;
	font-size: 1em;
	background-color: transparent !important;
	border-top: none !important;
	border-bottom: none !important;
	color: var(--highlight-statblock) !important;
  }

  .statblock .ability-table th {
	padding: 0 !important;
  }

  .statblock .ability-table td {
	padding-top: 2px !important;
	padding-bottom: 4px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
  }

  /* ===============================================================================================================================================
     								    Link Style Settings
     =============================================================================================================================================== */

:root {
    --530a-7bd1-color: #2C73D2;
    --530a-7bd1-weight: initial;
    --530a-7bd1-before: '';
    --3ab6-5083-color: #2FAB63;
    --3ab6-5083-weight: initial;
    --4f90-21fb-before: '';
    --61ae-3f29-before: '';
    --aa63-5ae7-before: '';
    --4bba-c501-before: '';
    --d1ee-2c15-color: #B8E067;
    --d1ee-2c15-weight: initial;
    --00b5-56d1-before: '';
    --e154-0d93-before: '';
    --6396-4a21-before: '';
    --04ae-afbf-before: '';
    --0f05-a4c5-color: #2FAB63;
    --0f05-a4c5-weight: initial;
    --6526-9634-before: '';
    --c70d-ba7f-color: #88AC4B;
    --c70d-ba7f-weight: initial;
    --54c9-e7e0-color: #2FAB63;
    --54c9-e7e0-weight: initial;
    --17dd-c16e-color: #AC7C26;
    --17dd-c16e-weight: initial;
    --00e3-2ad6-color: #E07250;
    --00e3-2ad6-weight: initial;
    --00e3-2ad6-before: '';
    --00e3-2ad6-after: '';
}

div[data-id="530a-7bd1"] div.setting-item-description,
[data-link-tags*="Home" i] {
    color: var(--530a-7bd1-color) !important;
    font-weight: var(--530a-7bd1-weight);
}

div[data-id="530a-7bd1"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Home" i]::before {
    content: var(--530a-7bd1-before);
}

div[data-id="3ab6-5083"] div.setting-item-description,
[data-link-tags*="Story" i] {
    color: var(--3ab6-5083-color) !important;
    font-weight: var(--3ab6-5083-weight);
}

div[data-id="4f90-21fb"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Abenteuer" i]::before {
    content: var(--4f90-21fb-before);
}

div[data-id="61ae-3f29"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Abenteuerakt" i]::before {
    content: var(--61ae-3f29-before);
}

div[data-id="aa63-5ae7"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Quest" i]::before {
    content: var(--aa63-5ae7-before);
}

div[data-id="4bba-c501"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="SessionNote" i]::before {
    content: var(--4bba-c501-before);
}

div[data-id="d1ee-2c15"] div.setting-item-description,
[data-link-tags*="Organisation" i] {
    color: var(--d1ee-2c15-color) !important;
    font-weight: var(--d1ee-2c15-weight);
}

div[data-id="00b5-56d1"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Spielergruppe" i]::before {
    content: var(--00b5-56d1-before);
}

div[data-id="e154-0d93"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Fraktion" i]::before {
    content: var(--e154-0d93-before);
}

div[data-id="6396-4a21"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Kultur" i]::before {
    content: var(--6396-4a21-before);
}

div[data-id="04ae-afbf"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Regierung" i]::before {
    content: var(--04ae-afbf-before);
}

div[data-id="0f05-a4c5"] div.setting-item-description,
[data-link-tags*="Charakter" i] {
    color: var(--0f05-a4c5-color) !important;
    font-weight: var(--0f05-a4c5-weight);
}

div[data-id="6526-9634"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="SpielerPC" i]::before {
    content: var(--6526-9634-before);
}

div[data-id="c70d-ba7f"] div.setting-item-description,
[data-link-tags*="Charaktererstellung" i] {
    color: var(--c70d-ba7f-color) !important;
    font-weight: var(--c70d-ba7f-weight);
}

div[data-id="54c9-e7e0"] div.setting-item-description,
[data-link-tags*="Grundregeln" i] {
    color: var(--54c9-e7e0-color) !important;
    font-weight: var(--54c9-e7e0-weight);
}

div[data-id="17dd-c16e"] div.setting-item-description,
[data-link-tags*="Heritage" i] {
    color: var(--17dd-c16e-color) !important;
    font-weight: var(--17dd-c16e-weight);
}

div[data-id="00e3-2ad6"] div.setting-item-description,
[data-link-tags*="Culture" i] {
    color: var(--00e3-2ad6-color) !important;
    font-weight: var(--00e3-2ad6-weight);
}

div[data-id="00e3-2ad6"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="Culture" i]::before {
    content: var(--00e3-2ad6-before);
}

div[data-id="00e3-2ad6"] div.setting-item-description::after,
.data-link-icon-after[data-link-tags*="Culture" i]::after {
    content: var(--00e3-2ad6-after);
}
/* @settings
name: Supercharged Links
id: supercharged-links
settings:
    - 
        id: 530a-7bd1
        title: tag is Home
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 530a-7bd1-color
        title: Link color
        type: variable-color
        format: hex
        default: '#2C73D2'
    - 
        id: 530a-7bd1-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: 530a-7bd1-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 530a-7bd1-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: 3ab6-5083
        title: tag is Story
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 3ab6-5083-color
        title: Link color
        type: variable-color
        format: hex
        default: '#2FAB63'
    - 
        id: 3ab6-5083-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: 3ab6-5083-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 4f90-21fb
        title: tag is Abenteuer
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 4f90-21fb-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: 61ae-3f29
        title: tag is Abenteuerakt
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 61ae-3f29-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: aa63-5ae7
        title: tag is Quest
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: aa63-5ae7-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: 4bba-c501
        title: tag is SessionNote
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 4bba-c501-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: d1ee-2c15
        title: tag is Organisation
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: d1ee-2c15-color
        title: Link color
        type: variable-color
        format: hex
        default: '#B8E067'
    - 
        id: d1ee-2c15-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: d1ee-2c15-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 00b5-56d1
        title: tag is Spielergruppe
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 00b5-56d1-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: e154-0d93
        title: tag is Fraktion
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: e154-0d93-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: 6396-4a21
        title: tag is Kultur
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 6396-4a21-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: 04ae-afbf
        title: tag is Regierung
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 04ae-afbf-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: 0f05-a4c5
        title: tag is Charakter
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 0f05-a4c5-color
        title: Link color
        type: variable-color
        format: hex
        default: '#2FAB63'
    - 
        id: 0f05-a4c5-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: 0f05-a4c5-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 6526-9634
        title: tag is SpielerPC
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 6526-9634-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: c70d-ba7f
        title: tag is Charaktererstellung
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: c70d-ba7f-color
        title: Link color
        type: variable-color
        format: hex
        default: '#88AC4B'
    - 
        id: c70d-ba7f-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: c70d-ba7f-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 54c9-e7e0
        title: tag is Grundregeln
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 54c9-e7e0-color
        title: Link color
        type: variable-color
        format: hex
        default: '#2FAB63'
    - 
        id: 54c9-e7e0-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: 54c9-e7e0-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 17dd-c16e
        title: tag is Heritage
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 17dd-c16e-color
        title: Link color
        type: variable-color
        format: hex
        default: '#AC7C26'
    - 
        id: 17dd-c16e-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: 17dd-c16e-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 00e3-2ad6
        title: tag is Culture
        description: Example note
        type: heading
        collapsed: true
        level: 3
    - 
        id: 00e3-2ad6-color
        title: Link color
        type: variable-color
        format: hex
        default: '#E07250'
    - 
        id: 00e3-2ad6-weight
        title: Font weight
        type: variable-select
        default: initial
        options:
            - initial
            - lighter
            - normal
            - bold
            - bolder
    - 
        id: 00e3-2ad6-decoration
        title: Font decoration
        type: variable-select
        default: initial
        options:
            - initial
            - underline
            - overline
            - line-through
    - 
        id: 00e3-2ad6-before
        title: Prepend text
        description: Add some text, such as an emoji, before the links.
        type: variable-text
        default: ''
        quotes: true
    - 
        id: 00e3-2ad6-after
        title: Append text
        description: Add some text, such as an emoji, after the links.
        type: variable-text
        default: ''
        quotes: true
*/
















