  /* =============================================================Game Master Vault Git============================================================= */
     
  /* ===============================================================================================================================================
     								   GLOBALE KOMPONENTEN 
     =============================================================================================================================================== */

  /* -----Generische Variablen----- */

  body {
	--file-line-width: 900px; /* Lesebreite anpassen */
  }

  /* -----Farb-Variablen für Light Mode----- */

   .theme-light {
	--highlight-charakter: #500073;
	--highlight-hell: #0a3b00;
	--highlight-kuehl: #32ffc8;
	--highlight-neutral: #292929;
	--highlight-p: #000000; 
	--highlight-primary: #AD4118;
	--highlight-red: #ff0000; 
	--highlight-statblock: #872212; 
	--highlight-table: #070070;
	--highlight-table-header: #FFFFFF;
	--highlight-wikibox: #737373; 
	--custom-background-charakter: #F4D6FF;
	--custom-background-doc: #FBEFD5;
	--custom-background-doc2: #FFEABA;
	--custom-background-hell: #D6E9CA;
	--custom-background-kuehl: #77e4ff48;
	--custom-background-neutral: #EDEDED;
	--custom-background-neutral2: #FAFAFA;
	--custom-background-primary: #a4a1ff2a;
	--custom-background-red: #3600003a;
	--custom-background-signal: #F6D2A1;
	--custom-background-statblock: #F4FAF0;
	--custom-background-table: #cccccc3d;
	--custom-background-table-header: #474646;
  }

  /* -----Farb-Variablen für Dark Mode----- */

  .theme-dark {

  }

  /* -----Blocksatz Reading Mode----- */

  .markdown-preview-view p {
	text-align: justify;
	text-justify: inter-word;	
  }

  /* -----Hintergrundfarbe Textblock----- */

  .markdown-preview-view {
	z-index: 0;
  }  

  .theme-light .markdown-preview-view::after {
	content: "";
	position: fixed;
	background-color: var(--custom-background-doc);
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(0px) brightness(100%) saturate(100%);
	left: 0;
	top: 41px;
	right: 0;
	bottom: 0;
	z-index: -1;
  }

  /* -----Fetter/Bold Text Farbe----- */

  .markdown-preview-view strong,
  .markdown-preview-view b {
	color: var(--highlight-primary);
  }

  /* -----Überschriften/Header----- */
  /* Farbe der Überschriften/Header */

  .site-body-left-column-site-name,
  .page-header,
  .markdown-preview-view h1,
  .markdown-preview-view h2,
  .markdown-preview-view h3,
  .markdown-preview-view h4,
  .markdown-preview-view h5,
  .markdown-preview-view h6 {
	color: var(--highlight-primary);
  }

  /* Textgrößen, Unterstreichungen und Abstände der Überschriften */

  h1 {
	text-align: center;
	padding-bottom: 15px !important;
	border-bottom: 2px solid var(--highlight-primary) !important;
  }


  h2,
  h4,
  h5,
  h6 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
  }

  h3 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 2px solid var(--highlight-primary) !important;
  }

  /* Abstand zwischen Überschriften und Text bestimmen */

  .markdown-rendered p {
	margin-block-start: 0px;
  }

  /* -----Tabellen----- */

  table {
	margin-top: 10px !important;
	width: 100%;
  }

 /* Vertikale Grenzen aus Tabellen entfernen */

  table td, 
  table th {
	border-left: none !important;
	border-right: none !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
  }

  /* Alterierende Farben in Tabellenzeilen*/

  tbody tr:nth-child(even) {
	background-color: var(--custom-background-table) !important;
	color: var(--highlight-table) !important;
  }

  /* Tabellenkopfzeile Hintergrund und Text Farbe*/

  table th {
	background-color: var(--custom-background-table-header) !important;
	color: var(--highlight-table-header) !important;
  }







  /* ===============================================================================================================================================
     								   HTML KLASSEN 
     =============================================================================================================================================== */

  /* -----Statblock und Beschreibung Klassen----- */

  .description, 
  .statblock {
	border: 4px solid var(--highlight-statblock) !important;
	border-radius: 15px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: var(--custom-background-statblock) !important;
  }
   
  .description strong,
  .statblock strong {
	color: var(--highlight-statblock) !important;
  }
      
  .statblock {
	background-color: var(--custom-background-statblock) !important;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 0px;
	padding-bottom: 15px;
	font-size: 0.8em;
	columns: 2;
	padding: 15px;
	margin-left: 0;
	margin-right: 0;
  }
  
  .statblock hr {
	margin-top: 0.5em !important;      /* Remove space above */
	margin-bottom: 0.55em !important; /* Add space below */
	background-color: var(--highlight-statblock)   !important;
	border: none;
	height: 3px;
	border-radius: 5px;
  }
  
  .statblock h1, 
  .statblock h2, 
  .statblock h3 {
	color: var(--highlight-statblock) !important;
  }
  
  .statblock h2 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size: 2em;
	border-bottom: 0 !important;
  }

  .statblock h3 {
	border-bottom: 2px solid var(--highlight-statblock) !important;
	margin-top: 7px !important;
	font-size: 1.5em;
  }
  
  .statblock p {
	margin-bottom: 5px !important;
	margin-top: 0;
	color: var(--highlight-p) !important;
  }
  
  .statblock b {
	color: var(--highlight-primary) !important;
  }

  .statblock .ability-table {
	max-width: 100% !important;
	table-layout: fixed !important;
	width: 100% !important;
	background-color: transparent !important;
  }
  
  .statblock .ability-table th,
  .statblock .ability-table td {
	text-align: center;
	font-size: 1em;
	background-color: transparent !important;
	border-top: none !important;
	border-bottom: none !important;
	color: var(--highlight-statblock) !important;
  }

  .statblock .ability-table th {
	padding: 0 !important;
  }

  .statblock .ability-table td {
	padding-top: 2px !important;
	padding-bottom: 4px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
  }






  /* ===============================================================================================================================================
     								CALLOUT ALLGEMEINE PARAMETER 
     =============================================================================================================================================== */

  /* -----Callouts Allgemein-----*/

  .callout-content {
	font-size: 1em;
  }

  .callout-content p:first-child {
	margin-top: 5px;
  }

  .callout-content p:last-child {
	margin-bottom: 0;
  }

  .callout {
	border: 2px solid var(--highlight) !important;
	border-radius: 15px !important;
	background-color: var(--background) !important;
	mix-blend-mode: normal !important;
  }

  .callout .callout-content em,
  .callout .callout-title-inner strong,
  .callout .callout-content strong,
  .callout .callout-content hr,
  .callout .callout-icon svg,
  .callout .callout-fold svg {
	color: var(--highlight) !important;
	stroke: var(--highlight) !important;
  }

  /* -----Callout Tabellen-----*/
  .callout table {
	max-width: 100% !important;
	table-layout: fixed !important;
	width: 100% !important;
	background-color: transparent !important;
	margin-top: 10px !important;
	border-bottom: 2px solid var(--highlight-neutral) !important;
	border-top: 2px solid var(--highlight-neutral) !important;
  }

  .callout table th,
  .callout table td {
	background-color: transparent !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
  }

  .callout table th {
	padding: 10 !important;
  }

  .callout table td {
	padding-top: 2px !important;
	padding-bottom: 5px !important;
  }

  /* ===============================================================================================================================================
     								CALLOUTS: OBSIDIAN INTEGRIERT  
     =============================================================================================================================================== */

  /* ----------------------------------------Callout: Abstract---------------------------------------- */
  .callout[data-callout="abstract"] {
	--callout-color: 43, 112, 0; 
	--highlight: var(--highlight-hell);
	--background: var(--custom-background-hell);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }
  
  /* --------------------Callout: Summary (Abstract Alias)-------------------- */
  .callout[data-callout="summary"] {
	--callout-color: 43, 112, 0; 
	--highlight: var(--highlight-charakter);
	--background: var(--custom-background-charakter);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }


  /* ----------------------------------------Callout: Info---------------------------------------- */
  .callout[data-callout="info"] {
	--callout-color: var(--highlight-neutral); 
	--highlight: var(--highlight-neutral);
	--background: var(--custom-background-neutral);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  .callout[data-callout="info"] strong,
  .callout[data-callout="info"] b {
	color: var(--highlight-neutral); 
  }

  /* ----------------------------------------Callout: Note---------------------------------------- */
  .callout[data-callout="note"] {
	--callout-icon: book;
	--callout-color: 95, 223, 255; 
	--highlight: var(--highlight-neutral);
	--background: var(--custom-background-kuehl);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }



  /* ===============================================================================================================================================
     								CALLOUTS: CUSTOM 
     =============================================================================================================================================== */

  /* -----Callout: Bildrechts-----*/
  .callout[data-callout="bildrechts"] {
	--callout-color: transparent;
	--background: transparent;
	--highlight: var(--highlight-neutral);
	--callout-icon: none !important;
	padding-left: 0px !important;  
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	mix-blend-mode: normal !important;
	width: auto;
	max-width: 300px;
	float: right; /* Floats the callout box to the right */
	margin-left: 10px; /* Adds space between the callout box and the text OUTSIDE the box */
	margin-top: 0;
  }

  .callout[data-callout="bildrechts"] > .callout-title {
	justify-content: center;
	align-items: center;
	align-self: center;
  }

  .callout[data-callout="bildrechts"] > .callout-title > .callout-icon {
	align-self: center;
  }

  .callout[data-callout="bildrechts"]:not(.is-collapsed) > .callout-title {
	padding: 0;
  }

  .callout[data-callout="bildrechts"] > .callout-title .callout-title-inner {
	display: none;
  }

  /* -----Callout: Cards-----*/
  .callout[data-callout~=cards] {
	--callout-color: transparent;
	--callout-padding: 0;
	--callout-content-padding: 0px;
	--callout-blend-mode: normal;
	--callout-cards-columns: 3;
	border: 0;
	width: auto;
  }

  .callout[data-callout~=cards] > .callout-title {
	display: none;
  }

  .callout[data-callout~=cards] > .callout-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	border-radius: 0;
	padding-inline-start: 0px;
	padding: 0;
  }

  .callout[data-callout~=cards] p {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 0;
  }

  .callout[data-callout~=cards] br {
	display: none;
  }

  .callout[data-callout~=cards]:not([data-callout-metadata~=nstr],
  [data-callout-metadata~=no-strong]) strong {
	display: block;
	text-align: center;
	margin: auto;
	background-color: var(--outer-bar, var(--background-secondary));
  }

  .callout[data-callout~=cards][data-callout-metadata~=flex] > .callout-content, 
  .callout[data-callout~=cards][data-callout-metadata~=flex] .dataview.table-view-table tbody {
	gap: unset;
	grid-template-columns: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }

  .callout[data-callout~=cards][data-callout-metadata~=flex] > .callout-content .callout, 
  .callout[data-callout~=cards][data-callout-metadata~=flex] .dataview.table-view-table tbody .callout {
	flex: 1 1 250px;
	margin: 5px;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] {
	--callout-content-padding: 0;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .callout-content {
	display: unset;
	grid-template-columns: unset;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] br {
	display: block;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .block-language-dataview {
	padding: 5px;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table {
	display: grid;
	margin-block-start: 0;
	border-bottom: 0px solid var(--highlight-neutral) !important;
	border-top: 0px solid var(--highlight-neutral) !important;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table :is(td, tr) {
	border: 0;
	background: transparent;
	padding: 0;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table strong {
	background: transparent;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .table-view-thead th {
	border: 0;
	background-color: transparent;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .table-view-thead tr {
	display: none;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody tr:nth-child(even),
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody tr:nth-child(odd) {
	background-color: var(--custom-background-neutral2) !important;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody tr {
	display: grid;
	align-content: flex-start;
	margin: 0;
	padding: 0px;
	border: 1px solid var(--outline, var(--background-modifier-box-shadow));
	box-shadow: var(--shadow-ml, var(--input-shadow));
	border-radius: 15px !important;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] img:not(.link-favicon) {
	width: 100%;
	object-fit: cover;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview] img {
	border-radius: 15px !important;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-micro] img {
	height: var(--micro);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-tiny] img {
	height: var(--tiny);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-small] img {
	height: var(--small);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-small-med] img {
	height: var(--small-med);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-med-small] img {
	height: var(--med-small);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-medium] img {
	height: var(--medium);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-med-tall] img {
	height: var(--med-tall);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-tall] img {
	height: var(--tall);
  }

  .callout[data-callout~=cards][data-callout-metadata~=dvl] .callout-content {
	display: block;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dvl] br {
	display: unset;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dvl] .block-language-dataviewjs .dataview-result-list-li, 
  .callout[data-callout~=cards][data-callout-metadata~=dvl] .list-view-ul li {
	padding: 10px;
	background-color: var(--outer-bar, var(--background-secondary));
	box-shadow: var(--shadow-s, var(--input-shadow));
	margin-bottom: 5px;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dvl] .dataview.list-view-ul li::before {
	margin-left: -25px;
  }

  .callout[data-callout~=cards][data-callout-metadata~=dvl] ul {
	padding-inline-start: unset;
  }

  .callout[data-callout~=cards][data-callout-metadata~="1"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(1, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="2"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(2, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="3"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(3, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="4"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(4, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="5"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(5, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="6"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(6, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="7"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(7, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="8"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(8, 1fr);
  }

  .callout[data-callout~=cards][data-callout-metadata~="9"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
	grid-template-columns: repeat(9, 1fr);
  }

  /* -----Callout: Charakter-----*/
  .callout[data-callout="charakter"] {
	--callout-icon: user-round;
	--callout-color: 80, 0, 115; 
	--highlight: var(--highlight-charakter);
	--background: var(--custom-background-charakter);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  .callout[data-callout="charakter"] table th {
	text-align: center !important;
	color: var(--highlight-charakter) !important;
  }

  .callout[data-callout="charakter"] table td {
	text-align: center;
	vertical-align: middle;
  }

  /* -----Callout: Charakterklasse-----*/
  .callout[data-callout="charakterklasse"] {
	--callout-icon: circle-user-round;
	--callout-color: 80, 0, 115;
	--highlight: var(--highlight-charakter);
	--background: var(--custom-background-hell);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  /* -----Callout: Inspiration-----*/
  .callout[data-callout="inspiration"] {
	--callout-icon: webhook;
	--callout-color: 100, 190, 150;
	--highlight: var(--highlight-kuehl);
	--background: var(--custom-background-neutral);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  .callout[data-callout="inspiration"] > .callout-title {
	justify-content: center;
	align-items: center;
	align-self: center;
  }

  /* -----Callout: Liste-----*/
  .callout[data-callout="liste"] {
	--callout-icon: clipboard-list;
	--callout-color: 43, 112, 0; 
	--highlight: var(--highlight-hell);
	--background: var(--custom-background-hell);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  /* -----Callout: Lore-----*/
  .callout[data-callout="lore"] {
	--callout-icon: book;
	--callout-color: 95, 223, 255; 
	--highlight: var(--highlight-neutral);
	--background: var(--custom-background-kuehl);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  /* -----Callout: Metadata-----*/
  .callout[data-callout="metadata"] {
	--callout-icon: text;
	--callout-color: 255, 0, 0;
	--highlight: var(--highlight-red);
	--background: var(--custom-background-red);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  /* -----Callout: Metadataoption-----*/
  .callout[data-callout="metadataoption"] {
	--callout-icon: list;
	--callout-color: 255, 200, 0;
	--highlight: var(--highlight-primary);
	--background: var(--custom-background-primary);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  /* -----Callout: Quest-----*/
  .callout[data-callout="quest"] {
	--callout-icon: scroll !important;
	--callout-color: 173, 65, 24; 
	--highlight: var(--highlight-primary);
	--background: var(--custom-background-signal);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  /* -----Callout: Sessionnote-----*/
  .callout[data-callout="sessionnote"] {
	--callout-icon: album;
	--callout-color: var(--highlight-neutral); 
	--highlight: var(--highlight-neutral);
	--background: var(--custom-background-neutral);
	padding-left: 25px !important;
	padding-right: 25px !important;
  }

  /* -----Callout: Wikibox-----*/
  .callout[data-callout="wikibox"] {
	--callout-color: var(--custom-background-primary);
	--background: var(--custom-background-doc2);
	--highlight: var(--highlight-neutral);
	--callout-icon: none !important;
	padding-left: 0px !important;  
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	mix-blend-mode: normal !important;
	width: auto;
	max-width: 300px;
	float: right; /* Floats the callout box to the right */
	margin-left: 10px; /* Adds space between the callout box and the text OUTSIDE the box */
  }

  .callout[data-callout="wikibox"] > .callout-title {
	justify-content: center;
	align-items: center;
	align-self: center;
  }

  .callout[data-callout="wikibox"] > .callout-title > .callout-icon {
	align-self: center;
  }

  .callout[data-callout="wikibox"]:not(.is-collapsed) > .callout-title {
	padding: 0;
  }

  .callout[data-callout="wikibox"] > .callout-title .callout-title-inner {
	display: none;
  }

  .callout[data-callout="wikibox"] h1 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 2px solid var(--highlight-wikibox) !important;
	text-align: center !important;
	color: var(--highlight-primary) !important;
  }







  /* ===============================================================================================================================================
     								CALLOUTS: TABBED
     =============================================================================================================================================== */

  /* 
  Meta Bind version of tabbed callouts
  author: sailKite
  url: https://github.com/sailKiteV/Obsidian-Snippets-and-Demos/tree/main/TabsInObsidian 
  version: 0.5.2
  date: 2024-12-23
  recommended_obsidian: 1.7.7+
  recommended_installer: 1.6.7+
  dependencies:
    - https://obsidian.md/plugins?id=obsidian-meta-bind-plugin
  */

  .mb-input-type-select.tabbed {
	display: flex;

	.mb-card:has(&) {
        	border-radius: 15px 15px 0px 0px;
        	margin: 0px;
        	padding: 0px;
        	border: 0px;
    	}
    
	& .mb-select-input-element {
        	margin: 0px;
        	border: 0px;
        	border-radius: 0px;
        	flex: 1 0;
        	min-width: 0px;
        	word-break: break-all;
        	text-align: center;
        	border: var(--mb-border-width) solid var(--highlight-neutral);
        	border-bottom-color: var(--highlight-neutral);
        	background-color: var(--custom-background-neutral);

        	&.is-selected {
			pointer-events: none;
		}

		&:is(.is-selected, :not(:has(> .is-selected)) > :first-child)  {
			border-color: var(--highlight-neutral);
			border-bottom-color: transparent;
			background-color: transparent;
		}

		&:first-child {
			border-start-start-radius: 5px;
		}

		&:last-child {
 			border-start-end-radius: 5px;
		}

		& > input[type="checkbox"] {
			display: none;
		}
	}

	[data-callout="infobox"] > .callout-content:has(.mb-input > * > &) {
		border-radius: 5px;
	}
  }

  :root:root .callout[data-callout="tabbed-box"] {
	--callout-content-padding: 4px;
	margin: 0px;
	padding: 0;
	border-radius: 0px 0px 5px 5px;
	background-color: transparent;
	mix-blend-mode: normal;
	--highlight: none !important;

	& > .callout-title {
		display: none;
	}

	& > .callout-content {
		border: var(--background-modifier-border) solid var(--mb-border-width);
		border-top: none;
	}

	& > .callout-content > * {
 		display: none;
	}
  }


  :has(.tabbed.mb-input-type-select):not(:has(.tabbed.mb-input-type-select > .is-selected)) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(1)
  , :has(.tabbed.mb-input-type-select > :nth-child(1).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(1)
  , :has(.tabbed.mb-input-type-select > :nth-child(2).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(2)
  , :has(.tabbed.mb-input-type-select > :nth-child(3).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(3)
  , :has(.tabbed.mb-input-type-select > :nth-child(4).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(4)
  , :has(.tabbed.mb-input-type-select > :nth-child(5).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(5)
  , :has(.tabbed.mb-input-type-select > :nth-child(6).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(6)
  , :has(.tabbed.mb-input-type-select > :nth-child(7).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(7)
  , :has(.tabbed.mb-input-type-select > :nth-child(8).is-selected) + .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(8)

  , :has(.tabbed.mb-input-type-select):not(:has(.tabbed.mb-input-type-select > .is-selected)) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(1)
  , :has(.tabbed.mb-input-type-select > :nth-child(1).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(1)
  , :has(.tabbed.mb-input-type-select > :nth-child(2).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(2)
  , :has(.tabbed.mb-input-type-select > :nth-child(3).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(3)
  , :has(.tabbed.mb-input-type-select > :nth-child(4).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(4)
  , :has(.tabbed.mb-input-type-select > :nth-child(5).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(5)
  , :has(.tabbed.mb-input-type-select > :nth-child(6).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(6)
  , :has(.tabbed.mb-input-type-select > :nth-child(7).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(7)
  , :has(.tabbed.mb-input-type-select > :nth-child(8).is-selected) + .cm-callout > * > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(8)
  
  , :has(.tabbed.mb-input-type-select):not(:has(.tabbed.mb-input-type-select > .is-selected)) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(1)
  , :has(.tabbed.mb-input-type-select > :nth-child(1).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(1)
  , :has(.tabbed.mb-input-type-select > :nth-child(2).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(2)
  , :has(.tabbed.mb-input-type-select > :nth-child(3).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(3)
  , :has(.tabbed.mb-input-type-select > :nth-child(4).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(4)
  , :has(.tabbed.mb-input-type-select > :nth-child(5).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(5)
  , :has(.tabbed.mb-input-type-select > :nth-child(6).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(6)
  , :has(.tabbed.mb-input-type-select > :nth-child(7).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(7)
  , :has(.tabbed.mb-input-type-select > :nth-child(8).is-selected) + .el-div > .callout[data-callout="tabbed-box"] > .callout-content > :nth-child(8) {
	display: block;
  }








