@use "./variables.scss" as *;

/* =============================================================Game Master Vault Git============================================================= */
     
  /* ===============================================================================================================================================
     								   GLOBALE KOMPONENTEN 
     =============================================================================================================================================== */

  /* -----Generische Variablen----- */

  body {
	--file-line-width: 1200px; /* Lesebreite anpassen */
  }

  /* -----Farb-Variablen für Light Mode----- */

   .theme-light {
	--highlight-charakter: #500073;
	--highlight-hell: #0a3b00;
	--highlight-kuehl: #00E6DB;
	--highlight-neutral: #292929;
	--highlight-p: #000000; 
	--highlight-primary: #AD4118;
	--highlight-red: #ff0000; 
	--highlight-statblock: #872212; 
	--highlight-table: #070070;
	--highlight-table-header: #FFFFFF;
	--highlight-wikibox: #737373; 
	--custom-background-charakter: #F4D6FF;
	--custom-background-doc: #FBEFD5;
	--custom-background-doc2: #FFEABA;
	--custom-background-hell: #D6E9CA;
	--custom-background-kuehl: #77e4ff48;
	--custom-background-neutral: #EDEDED;
	--custom-background-neutral2: #FAFAFA;
	--custom-background-primary: #a4a1ff2a;
	--custom-background-red: #3600003a;
	--custom-background-signal: #F6D2A1;
	--custom-background-statblock: #F4FAF0;
	--custom-background-table: #cccccc3d;
	--custom-background-table-header: #474646;
  }

  /* ----------------------------------------Farb-Variablen für Dark Mode---------------------------------------- */

  .theme-dark {
	--highlight-kuehl: #32ffc8;
  }

  /* -----Blocksatz Reading Mode----- */

  .markdown-preview-view p {
	text-align: justify;
	text-justify: inter-word;	
  }

  /* -----Hintergrundfarbe Textblock----- */

  .markdown-preview-view {
	z-index: 0;
  }  

  .theme-light .markdown-preview-view::after {
	content: "";
	position: fixed;
	background-color: var(--custom-background-doc);
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(0px) brightness(100%) saturate(100%);
	left: 0;
	top: 41px;
	right: 0;
	bottom: 0;
	z-index: -1;
  }

  /* -----Fetter/Bold Text Farbe----- */

  .markdown-preview-view strong,
  .markdown-preview-view b {
	color: var(--highlight-primary);
  }

  /* -----Überschriften/Header----- */
  /* Farbe der Überschriften/Header */

  .site-body-left-column-site-name,
  .page-header,
  .markdown-preview-view h1,
  .markdown-preview-view h2,
  .markdown-preview-view h3,
  .markdown-preview-view h4,
  .markdown-preview-view h5,
  .markdown-preview-view h6 {
	color: var(--highlight-primary);
  }

  /* Textgrößen, Unterstreichungen und Abstände der Überschriften */

  h1 {
	text-align: center;
	padding-bottom: 15px !important;
	border-bottom: 2px solid var(--highlight-primary) !important;
  }


  h2,
  h4,
  h5,
  h6 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
  }

  h3 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 2px solid var(--highlight-primary) !important;
  }

  /* Abstand zwischen Überschriften und Text bestimmen */

  .markdown-rendered p {
	margin-block-start: 0px;
  }

  /* -----Tabellen----- */

  table {
	margin-top: 10px !important;
	width: 100%;
  }

 /* Vertikale Grenzen aus Tabellen entfernen */

  table td, 
  table th {
	border-left: none !important;
	border-right: none !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
  }

  /* Alterierende Farben in Tabellenzeilen*/

  tbody tr:nth-child(even) {
	background-color: var(--custom-background-table) !important;
	color: var(--highlight-table) !important;
  }

  /* Tabellenkopfzeile Hintergrund und Text Farbe*/

  table th {
	background-color: var(--custom-background-table-header) !important;
	color: var(--highlight-table-header) !important;
  }







  /* ===============================================================================================================================================
     								   HTML KLASSEN 
     =============================================================================================================================================== */

  /* -----Statblock und Beschreibung Klassen----- */

  .description, 
  .statblock {
	border: 4px solid var(--highlight-statblock) !important;
	border-radius: 15px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: var(--custom-background-statblock) !important;
  }
   
  .description strong,
  .statblock strong {
	color: var(--highlight-statblock) !important;
  }
      
  .statblock {
	background-color: var(--custom-background-statblock) !important;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 0px;
	padding-bottom: 15px;
	font-size: 0.8em;
	columns: 2;
	padding: 15px;
	margin-left: 0;
	margin-right: 0;
  }
  
  .statblock hr {
	margin-top: 0.5em !important;      /* Remove space above */
	margin-bottom: 0.55em !important; /* Add space below */
	background-color: var(--highlight-statblock)   !important;
	border: none;
	height: 3px;
	border-radius: 5px;
  }
  
  .statblock h1, 
  .statblock h2, 
  .statblock h3 {
	color: var(--highlight-statblock) !important;
  }
  
  .statblock h2 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size: 2em;
	border-bottom: 0 !important;
  }

  .statblock h3 {
	border-bottom: 2px solid var(--highlight-statblock) !important;
	margin-top: 7px !important;
	font-size: 1.5em;
  }
  
  .statblock p {
	margin-bottom: 5px !important;
	margin-top: 0;
	color: var(--highlight-p) !important;
  }
  
  .statblock b {
	color: var(--highlight-primary) !important;
  }

  .statblock .ability-table {
	max-width: 100% !important;
	table-layout: fixed !important;
	width: 100% !important;
	background-color: transparent !important;
  }
  
  .statblock .ability-table th,
  .statblock .ability-table td {
	text-align: center;
	font-size: 1em;
	background-color: transparent !important;
	border-top: none !important;
	border-bottom: none !important;
	color: var(--highlight-statblock) !important;
  }

  .statblock .ability-table th {
	padding: 0 !important;
  }

  .statblock .ability-table td {
	padding-top: 2px !important;
	padding-bottom: 4px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
  }

  /* ===============================================================================================================================================
     								    Dataview Style
     =============================================================================================================================================== */
 
.block-language-dataview {
    overflow-y: auto;
}

/*****************/
/** Table Views **/
/*****************/

/* List View Default Styling; rendered internally as a table. */
.table-view-table {
    width: 100%;
}

.table-view-table > thead > tr, .table-view-table > tbody > tr {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

.table-view-table > tbody > tr:hover {
    background-color: var(--table-row-background-hover);
}

.table-view-table > thead > tr > th {
    font-weight: 700;
    font-size: larger;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;

    max-width: 100%;
}

.table-view-table > tbody > tr > td {
    text-align: left;
    border: none;
    font-weight: 400;
    max-width: 100%;
}

.table-view-table ul, .table-view-table ol {
    margin-block-start: 0.2em !important;
    margin-block-end: 0.2em !important;
}

/** Rendered value styling for any view. */
.dataview-result-list-root-ul {
    padding: 0em !important;
    margin: 0em !important;
}

.dataview-result-list-ul {
    margin-block-start: 0.2em !important;
    margin-block-end: 0.2em !important;
}

/** Generic grouping styling. */
.dataview.result-group {
    padding-left: 8px;
}

/*******************/
/** Inline Fields **/
/*******************/

.dataview.inline-field-key {
    padding-left: 8px;
    padding-right: 8px;
    font-family: var(--font-monospace);
    background-color: var(--background-primary-alt);
    color: var(--nav-item-color-selected);
}

.dataview.inline-field-value {
    padding-left: 8px;
    padding-right: 8px;
    font-family: var(--font-monospace);
    background-color: var(--background-secondary-alt);
    color: var(--nav-item-color-selected);
}

.dataview.inline-field-standalone-value {
    padding-left: 8px;
    padding-right: 8px;
    font-family: var(--font-monospace);
    background-color: var(--background-secondary-alt);
    color: var(--nav-item-color-selected);
}

/***************/
/** Task View **/
/***************/

.dataview.task-list-item, .dataview.task-list-basic-item {
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
}

.dataview.task-list-item:hover, .dataview.task-list-basic-item:hover {
    background-color: var(--text-selection);
    box-shadow: -40px 0 0 var(--text-selection);
    cursor: pointer;
}

/*****************/
/** Error Views **/
/*****************/

div.dataview-error-box {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px dashed var(--background-secondary);
}

.dataview-error-message {
    color: var(--text-muted);
    text-align: center;
}

/*************************/
/** Additional Metadata **/
/*************************/

.dataview.small-text {
    font-size: smaller;
    color: var(--text-muted);
    margin-left: 3px;
}

.dataview.small-text::before {
	content: "(";
}

.dataview.small-text::after {
	content: ")";
}

  /* ===============================================================================================================================================
     								    Minimal Cards
     =============================================================================================================================================== */
/* @settings
name: Minimal Cards
id: minimal-cards-style
settings:
	-
		id: cards-min-width
		title: Card minimum width
		type: variable-text
		default: 180px
	-
		id: cards-max-width
		title: Card maximum width
		description: Default fills the available width, accepts valid CSS units
		type: variable-text
		default: 1fr
	-
		id: cards-mobile-width
		title: Card minimum width on mobile
		type: variable-text
		default: 120px
	-
		id: cards-padding
		title: Card padding
		type: variable-text
		default: 1.2em
	-
		id: cards-image-height
		title: Card maximum image height
		type: variable-text
		default: 400px
	-
		id: cards-border-width
		title: Card border width
		type: variable-text
		default: 1px
	- 
		id: cards-background
		title: Card background color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	- 
		id: cards-background-hover (hover)
		title: Card background color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'

*/

.cards table.dataview {
  --table-width: 100%;
  --table-min-width: none;
}

.maximize-tables-auto .cards {
  --container-table-max-width: var(--max-width);
}
.maximize-tables-auto .cards .block-language-dataview {
  --table-margin: auto;
}

.table-100 {
  --container-table-width: 100%;
  --container-dataview-table-width: 100%;
  --container-table-max-width: 100%;
  --container-table-margin: 0;
  --table-edge-cell-padding-first: 16px;
  --table-edge-cell-padding-last: 16px;
  --table-margin: 0;
  --table-drag-padding: var(--table-drag-space) 0;
  --table-wrapper-width: min(fit-content, 100%);
  --bases-cards-embed-padding: 0 12px;
  --bases-header-padding-end: var(--size-4-2);
  --bases-header-padding-start: var(--size-4-2);
}

/*
Cards snippet for Obsidian

author: @kepano
version: 3.0.1

Support my work:
https://github.com/sponsors/kepano

*/

body {
  --cards-min-width: 180px;
  --cards-max-width: 1fr;
  --cards-mobile-width: 120px;
  --cards-image-height: 400px;
  --cards-padding: 1.2em;
  --cards-image-fit: contain;
  --cards-background: transparent;
  --cards-background-hover: transparent;
  --cards-border-width: 1px;
  --cards-aspect-ratio: auto;
  --cards-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));
}

@media (max-width: 400pt) {
  body {
    --cards-min-width:var(--cards-mobile-width);
  }
}
.cards.table-100 table.dataview tbody,
.table-100 .cards table.dataview tbody {
  padding: 0.25rem 0.75rem;
}

.cards table.dataview {
  --table-width: 100%;
  --table-edge-cell-padding-first: calc(var(--cards-padding)/2);
  --table-edge-cell-padding-last: calc(var(--cards-padding)/2);
  --table-cell-padding: calc(var(--cards-padding)/3) calc(var(--cards-padding)/2);
  line-height: 1.3;
}
.cards table.dataview tbody {
  clear: both;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: var(--cards-columns);
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}
.cards table.dataview > tbody > tr {
  background-color: var(--cards-background);
  border: var(--cards-border-width) solid var(--background-modifier-border);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 calc(var(--cards-padding) / 3);
  border-radius: 6px;
  overflow: hidden;
  transition: box-shadow 0.15s linear;
  max-width: var(--cards-max-width);
  height: auto;
}
.cards table.dataview > tbody > tr:hover {
  background-color: var(--cards-background-hover) !important;
  border: var(--cards-border-width) solid var(--background-modifier-border-hover);
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.025);
  transition: box-shadow 0.15s linear;
}
.cards table.dataview tbody > tr > td:first-child {
  font-weight: var(--bold-weight);
  border: none;
}
.cards table.dataview tbody > tr > td:first-child a {
  display: block;
}
.cards table.dataview tbody > tr > td:last-child {
  border: none;
}
.cards table.dataview tbody > tr > td:not(:first-child) {
  font-size: calc(var(--table-text-size) * 0.9);
  color: var(--text-muted);
}
.cards table.dataview tbody > tr > td > * {
  padding: calc(var(--cards-padding) / 3) 0;
}
.cards table.dataview tbody > tr > td:not(:last-child):not(:first-child) {
  padding: 4px 0;
  border-bottom: 1px solid var(--background-modifier-border);
  width: calc(100% - var(--cards-padding));
  margin: 0 calc(var(--cards-padding) / 2);
}
.cards table.dataview tbody > tr > td a {
  text-decoration: none;
}
.cards table.dataview tbody > tr > td > button {
  width: 100%;
  margin: calc(var(--cards-padding) / 2) 0;
}
.cards table.dataview tbody > tr > td:last-child > button {
  margin-bottom: calc(var(--cards-padding) / 6);
}
.cards table.dataview tbody > tr > td > ul {
  width: 100%;
  padding: 0.25em 0 !important;
  margin: 0 auto !important;
}
.cards table.dataview tbody > tr > td img {
  aspect-ratio: var(--cards-aspect-ratio);
  width: 100%;
  object-fit: var(--cards-image-fit);
  max-height: var(--cards-image-height);
  background-color: var(--background-secondary);
  vertical-align: bottom;
}

.markdown-source-view.mod-cm6.cards .dataview.table-view-table > tbody > tr > td,
.trim-cols .cards table.dataview tbody > tr > td {
  white-space: normal;
}

.links-int-on .cards table {
  --link-decoration: none;
}

/* Block button */
.markdown-source-view.mod-cm6.cards .edit-block-button {
  top: -1px;
  right: 28px;
  opacity: 1;
}

/* ------------------- */
/* Sorting menu */
.cards.table-100 table.dataview thead > tr,
.table-100 .cards table.dataview thead > tr {
  right: 0.75rem;
}

.table-100 .cards table.dataview thead:before,
.cards.table-100 table.dataview thead:before {
  margin-right: 0.75rem;
}

.cards table.dataview thead {
  user-select: none;
  width: 180px;
  display: block;
  float: right;
  position: relative;
  text-align: right;
  height: 24px;
  padding-bottom: 0px;
}
.cards table.dataview thead:hover:after {
  background-color: var(--background-modifier-hover);
}
.cards table.dataview thead:hover:before {
  background-color: var(--text-muted);
}
.cards table.dataview thead:after,
.cards table.dataview thead:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 16px;
  cursor: var(--cursor);
  text-align: right;
  padding: var(--size-4-1) var(--size-4-2);
  margin-bottom: 2px;
  border-radius: var(--radius-s);
  font-weight: 500;
  font-size: var(--font-adaptive-small);
}
.cards table.dataview thead:before {
  background-color: var(--text-faint);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 16px;
  -webkit-mask-position: center center;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="currentColor" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
}
.cards table.dataview thead > tr {
  top: -1px;
  position: absolute;
  display: none;
  z-index: 9;
  border: 1px solid var(--background-modifier-border-hover);
  background-color: var(--background-secondary);
  box-shadow: var(--shadow-s);
  padding: 6px;
  border-radius: var(--radius-m);
  flex-direction: column;
  margin: 24px 0 0;
  width: 100%;
}
.cards table.dataview thead:hover > tr {
  display: flex;
  height: auto;
}
.cards table.dataview thead > tr > th {
  display: block;
  padding: 3px 30px 3px 6px !important;
  border-radius: var(--radius-s);
  width: 100%;
  font-weight: 400;
  color: var(--text-normal);
  cursor: var(--cursor);
  border: none;
  font-size: var(--font-ui-small);
}
.cards table.dataview thead > tr > th[sortable-style=sortable-asc],
.cards table.dataview thead > tr > th[sortable-style=sortable-desc] {
  color: var(--text-normal);
}
.cards table.dataview thead > tr > th:hover {
  color: var(--text-normal);
  background-color: var(--background-modifier-hover);
}

/* ------------------- */
/* Card lists */
.list-cards.markdown-preview-view .list-bullet,
.list-cards.markdown-preview-view .list-collapse-indicator, .list-cards.markdown-preview-view.markdown-rendered.show-indentation-guide li > ul::before {
  display: none;
}
.list-cards.markdown-preview-view div > ul {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: var(--cards-columns);
  padding: 0;
  line-height: var(--line-height-tight);
}
.list-cards.markdown-preview-view div > ul .contains-task-list {
  padding-inline-start: calc(var(--cards-padding) * 1.5);
}
.list-cards.markdown-preview-view div > ul > li.task-list-item > .task-list-item-checkbox {
  margin-inline-start: 3px;
}
.list-cards.markdown-preview-view div > ul > li {
  background-color: var(--cards-background);
  padding: calc(var(--cards-padding) / 2);
  border-radius: var(--radius-s);
  border: var(--cards-border-width) solid var(--background-modifier-border);
  overflow: hidden;
  margin-inline-start: 0;
}
.list-cards.markdown-preview-view div > ul .image-embed {
  padding: 0;
  display: block;
  background-color: var(--background-secondary);
  border-radius: var(--image-radius);
}
.list-cards.markdown-preview-view div > ul .image-embed img {
  aspect-ratio: var(--cards-aspect-ratio);
  object-fit: var(--cards-image-fit);
  max-height: var(--cards-image-height);
  background-color: var(--background-secondary);
  vertical-align: bottom;
}
.list-cards.markdown-preview-view div > ul > li > a {
  --link-decoration: none;
  --link-external-decoration: none;
  font-weight: var(--bold-weight);
}
.list-cards.markdown-preview-view div ul > li:hover {
  border-color: var(--background-modifier-border-hover);
}
.list-cards.markdown-preview-view div ul ul {
  display: block;
  width: 100%;
  color: var(--text-muted);
  font-size: var(--font-smallest);
  margin: calc(var(--cards-padding) / -4) 0;
  padding: calc(var(--cards-padding) / 2) 0;
}
.list-cards.markdown-preview-view div ul ul ul {
  padding-bottom: calc(var(--cards-padding) / 4);
}
.list-cards.markdown-preview-view div ul ul > li {
  display: block;
  margin-inline-start: 0;
}

/* ------------------- */
/* Helper classes */
.cards.cards-16-9,
.list-cards.cards-16-9 {
  --cards-aspect-ratio: 16/9;
}
.cards.cards-1-1,
.list-cards.cards-1-1 {
  --cards-aspect-ratio: 1/1;
}
.cards.cards-2-1,
.list-cards.cards-2-1 {
  --cards-aspect-ratio: 2/1;
}
.cards.cards-2-3,
.list-cards.cards-2-3 {
  --cards-aspect-ratio: 2/3;
}
.cards.cards-cols-1,
.list-cards.cards-cols-1 {
  --cards-columns: repeat(1, minmax(0, 1fr));
}
.cards.cards-cols-2,
.list-cards.cards-cols-2 {
  --cards-columns: repeat(2, minmax(0, 1fr));
}
.cards.cards-cover,
.list-cards.cards-cover {
  --cards-image-fit: cover;
  /* Images */
}
.cards.cards-cover tbody > tr > td:first-child,
.list-cards.cards-cover tbody > tr > td:first-child {
  padding: 0 !important;
  background-color: var(--background-secondary);
  display: block;
  margin: 0;
  width: 100%;
}
.cards.cards-cover tbody > tr > td:first-child img,
.list-cards.cards-cover tbody > tr > td:first-child img {
  border-radius: 0;
}
.cards.cards-align-bottom table.dataview tbody > tr > td:last-child,
.list-cards.cards-align-bottom table.dataview tbody > tr > td:last-child {
  margin-top: auto;
}

@media (max-width: 400pt) {
  .cards table.dataview tbody > tr > td:not(:first-child) {
    font-size: 80%;
  }
}
@media (min-width: 400pt) {
  .cards-cols-3 {
    --cards-columns: repeat(3, minmax(0, 1fr));
  }
  .cards-cols-4 {
    --cards-columns: repeat(4, minmax(0, 1fr));
  }
  .cards-cols-5 {
    --cards-columns: repeat(5, minmax(0, 1fr));
  }
  .cards-cols-6 {
    --cards-columns: repeat(6, minmax(0, 1fr));
  }
  .cards-cols-7 {
    --cards-columns: repeat(7, minmax(0, 1fr));
  }
  .cards-cols-8 {
    --cards-columns: repeat(8, minmax(0, 1fr));
  }
}




















